:root {
    --purple: rgb(116, 119, 191);
    --purple-opacity: rgb(116, 119, 191, 0.8);
    --light-purple: rgb(213, 214, 236);
    --dark-purple: #4d4c72;
    --green: #81c98f;
    --blue: #51b6c8;
    --gray: rgb(153, 153, 153);
    --light-gray: #c0c0c0;
    --light-gray2: #f5f5f5;
    --white: #FFFFFF;
    font-family: 'Roboto', serif;
}

body {
    background-color: var(--light-gray2);
}

b{
    font-weight: 500;
}

h3 {
    padding: 12px 0px;
    font-weight: 500;
}

/* -----------------------
General sections styles
----------------------- */
.border {
    border-top: 1px solid var(--light-gray);
}

.pad {
    padding: 1rem;
}

.main-wrapper {
    display: grid;
    grid-template-columns: minmax(90px, 1fr);
    grid-template-areas: 
        "header"
        "nav"
        "content"
        ;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
        }
        .content {
            grid-area: content;
        }
}

/* -------------
header styles
------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--purple);
    color: var(--white);
}

.acc-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.bell-container {
    position: relative;
    cursor: pointer;
    svg {
        fill: var(--white);
        position: relative;
        height: 18px;
        width: 24px;
        padding-right: 10px;
    }
    span {
        position: absolute;
        height: 6px;
        width: 6px;
        left: 18px;
        top: -5px;
        border-radius: 50%;
        background-color: #81c98f;
    }
}


.acc {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--gray);
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 10px;
    }
    p {
        font-size: 0.8rem;
    }
}

/* ----------
nav styles
---------- */
.nav-wrapper {
display: flex;
justify-content: center;
padding: 1rem;
background-color: var(--dark-purple);
    svg {
        cursor: pointer;
        padding: 1rem 0.8rem;
        fill: var(--white);
        max-width: 60px;
        max-height: 60px;
    }
}

/* --------------------
Dashboard menu style
-------------------- */
.tab-nav {
    display: flex;
    height: 48px;
    width: 108px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--light-gray);
    position: relative;
    z-index: 2;
}

.dashboard-wrapper {
    box-shadow: 0px -1px var(--light-gray);
    background-color: var(--white);
    padding-top: 1px;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 12px;
    background-color: var(--purple);
    height: 36px;
    border-radius: 5px;
    color: var(--white);
    font-weight: 300;
    span {
        cursor: pointer;
    }
}

/* ------------------------
Traffic chart menu style
------------------------ */
.tchart-menu {
    display: flex;
    flex-direction: column;
    .chart-menu {
        display: flex;
    }
    p {
        font-weight: 500;
        font-size: 1rem;
    }
}

.box-hourly,
.box-daily,
.box-weekly,
.box-monthly {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 28px;
    padding: 12px;
    height: 28px;
}

.hourly:checked+.box-hourly,
.daily:checked+.box-daily,
.weekly:checked+.box-weekly,
.monthly:checked+.box-monthly {
    background-color: var(--green);
}

/* --------------------
Social section style
-------------------- */
.facebook,
.instagram,
.twitter {
    display: flex;
    align-items: center;
    background-color: var(--light-gray2);
    border-radius: 10px;
    border: solid 1px var(--light-gray);
    color: var(--dark-purple);
    padding: 1rem;
    margin: 1rem 0px;
    p {
        color: var(--purple);
        font-weight: 500;
        font-size: 1.2rem;
    }
    h1 {
        color: var(--gray);
        font-weight: 300;
        font-size: 2.5rem;
    }
}

.fb-data,
.insta-data,
.twitter-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    gap: 4px;
}

.svg-container {
    height: 60px;
    width: 60px;
    background-color: var(--purple);
    border-radius: 50%;
    padding: 1rem;
    svg {
        fill: var(--white)
    }
}

/* -------------------------
New members section style
------------------------- */
.new-members .member:nth-child(n+3),
.recent-activity .member:nth-child(n+3) {
    border-top: 1px solid var(--light-gray);
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    img {
        height: 72px;
        width: 72px;
        border-radius: 50%;
    }
    p {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .email {
        color: var(--purple);
    }
    span {
        display: none;
    }
}

.member-info,
.member-activity {
    margin-top: 1rem;
}

/* ------------------
Message user Style
------------------ */
.message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search,
#user-message {
    background-color: var(--light-gray2);
    border: 2px solid rgb(153, 153, 153, 0.4);
    border-radius: 5px;
    padding: 1rem;
    color: var(--gray);
}

#search::placeholder,
#user-message::placeholder {
    color: var(--light-gray);
}

.btn {
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--purple);
    align-items: center;
    box-shadow: 0px 0px 3px var(--gray), 0 2px var(--light-gray);
    &:hover{
        background-color: var(--purple-opacity);
    }
    &:active {
        background-color: var(--dark-purple);
        box-shadow: 0 1px #666;
        transform: translateY(1px);
    }
}

/* -------------
Setting style
------------- */
.sett-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-toggle,
.profile-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    p {
        font-weight: 400;
    }
}

/* --------------------------------------------
Switch toogle style
Initial code From Uiverse.io by Muaz-Aldalil 
-------------------------------------------- */
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: gray;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid var(--light-gray);
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &::before {
        content: "";
        background-color: white;
        border: 2px solid var(--light-gray);
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        transition: 0.3s;
    }
}

.on-off::before {
    content: "OFF";
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 6px;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.toggle:checked+.toggle-switch {
    background-color: var(--purple);
    .on-off::before {
        content: "ON";
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        position: absolute;
        top: 6px;
        left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
    }
    &::before {
        content: "";
        left: 48px;
        color: var(--purple);
    }
}

.zone {
    background-color: var(--light-gray2);
    border: 2px solid rgb(153, 153, 153, 0.4);
    border-radius: 5px;
    color: var(--gray);

    appearance: none;
    background-image: url(../svgs/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.85rem auto;
}

select {
    padding: 12px;
    &:required:invalid {
        color: var(--light-gray);
    }
}

option, select:required:valid {
    color: var(--dark-purple);
    font-weight: 500;;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    .btn {
        flex: 1;
    }
    .cancel {
        background-color: var(--gray);
    }
}


@media screen and (min-width: 768px) {

    .main-wrapper{
        grid-template-columns: 90px minmax(90px, 1fr);
        grid-template-areas: 
            "header header"
            "nav content"
            ;
    }

    .nav-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        svg {
            height: 30px;
            width: 30px;
        }
    }

    .daily-mobile {
        display: flex;
    }
    .dtchart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid var(--light-gray);
        .chart-box {
            margin-bottom: 4rem;
        }
    }
    .dtchart-wrapper,
    .mtchart-wrapper {
        width: 45%;
        flex: 1;
    }

    .stats-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        p {
            font-size: 1rem;
        }
        h1 {
            font-size: 2rem;
        }
    }
    .facebook,
    .instagram,
    .twitter {
        flex: 1;
    }

    .member {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        p {
            text-align: left;
            font-size: 1rem;
        }
        span {
            display: block;
            color: var(--purple);
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
    .member-info,
    .member-activity {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-top: 0px;
        align-items: center;
    }

    .email-toggle,
    .profile-toggle {
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    
    .members-wrapper {
        display: flex;
        flex-wrap: wrap;
        p {
            font-size: 0.9rem;
        }
    }
    .member-activity {
        gap: 6px;
    }
    .new-members {
        border-right: 1px solid var(--light-gray);
    }
    .new-members,
    .recent-activity {
        flex: 1;
    }

    .message-setting {
        display: flex;
        flex-wrap: wrap;
    }
    .message-wrapper,
    .setting-wrapper {
        flex: 1;
        position: relative;
    }
    .setting-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid var(--light-gray);
        .sett-wrapper {
            gap: 1.5rem;
        }
    }
}

/* ------------------
Bell Animation events
--------------------- */
.bell {
    transform-origin: 50% 4px;
    transform-box: fill-box;
}

.bell-container:hover .bell {
    animation: shake 3s ease-in-out backwards;
}

@keyframes shake {
    0% { transform: rotate(0); }
    1% { transform: rotate(18deg); }
    3% { transform: rotate(-16deg); }
    5% { transform: rotate(22deg); }
    7% { transform: rotate(-20deg); }
    9% { transform: rotate(18deg); }
    11% { transform: rotate(-16deg); }
    13% { transform: rotate(14deg); }
    15% { transform: rotate(-12deg); }
    18% { transform: rotate(10deg); }
    21% { transform: rotate(-8deg); }
    24% { transform: rotate(6deg); }
    27% { transform: rotate(-4deg); }
    30% { transform: rotate(2deg); }
    33% { transform: rotate(-1deg); }
    36% { transform: rotate(1deg); }
    39% { transform: rotate(0deg); }
    100% { transform: rotate(0); }
}

.popup {
    flex-direction: column;
    position: absolute;
    opacity: 1;
    gap: 12px;
    width: 250px;
    top: 130%;
    right: 90%;
    background-color: var(--dark-purple);
    border-radius: 5px 0px 5px 5px;
    padding: 8px;
    animation: pop 0.3s ease-in-out forwards;
}

.popup::after {
    content: '';
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    left: 100%;
    top: 0%;
    border: 8px solid transparent;
    border-bottom-color: var(--dark-purple);
    transform: translate(-50%, -50%) rotate(135deg);
}

.popup-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;
    & div:first-child {
        color: var(--dark-purple);
        font-weight: 700;
        text-align: center;
        padding: 2px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: var(--light-gray2);
        box-shadow: 0px 0px 2px var(--white);
    }
    &:hover {
        background-color: var(--purple);
    }
}

.alert-message {
    position: relative;
    font-size: 0.7rem;
    padding: 10px 0px 10px 10px;
    border-left: 2px solid var(--light-gray);
}

@keyframes pop {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* -------------------------
Message User Notification
------------------------- */
.send-alert {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    background-color: var(--purple);
    border-radius: 5px;
    color: var(--white);
    font-weight: 300;
    transform: translate(-50%, 0);
    animation: fade 3s ease-in-out forwards;
}

@keyframes fade {
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}