:root {
    --purple: rgb(116, 119, 191);
    --purple-opacity: rgb(116, 119, 191, 0.8);
    --light-purple: rgb(213, 214, 236);
    --dark-purple: #4d4c72;
    --green: #81c98f;
    --blue: #51b6c8;
    --gray: rgb(153, 153, 153);
    --light-gray: #c0c0c0;
    --light-gray2: #f5f5f5;
    --white: #FFFFFF;
    font-family: 'Roboto', serif;
}

body {
    background-color: var(--light-gray2);
}

b{
    font-weight: 500;
}

h3 {
    padding: 12px 0px;
    font-weight: 500;
}

/* General sections styles */
.border {
    border-top: 1px solid var(--light-gray);
}

.pad {
    padding: 1rem;
}

.main-wrapper {
    display: grid;
    grid-template-columns: minmax(1fr, 1100px);
    grid-template-areas: 
        "header ."
        "nav ."
        "content ."
        ;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
        }
        .content {
            grid-area: content;
        }
}

.tchart-wrapper,
.dtchart-wrapper,
.mtchart-wrapper {
    max-width: 1024px;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--purple);
    color: var(--white);
}

.acc-wrapper {
    display: flex;
    align-items: center;
}

.bell {
    position: relative;
    svg {
        fill: var(--white);
        position: relative;
        height: 18px;
        width: 18px;
        padding-right: 10px;
    }
    span {
        position: absolute;
        height: 6px;
        width: 6px;
        left: 18px;
        top: -5px;
        border-radius: 50%;
        background-color: #81c98f;
    }
}

.acc {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--gray);
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 10px;
    }
    p {
        font-size: 0.8rem;
    }
}


/* nav styles */

.nav-wrapper {
display: flex;
justify-content: center;
padding: 1rem;
background-color: var(--dark-purple);
    svg {
        padding: 1rem 0.8rem;
        fill: var(--white);
        max-width: 60px;
        max-height: 60px;
    }
}


/* Dashboard menu style */
.tab-nav {
    display: flex;
    height: 48px;
    width: 108px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--light-gray);
    position: relative;
    z-index: 2;
}

.dashboard-wrapper {
    box-shadow: 0px -1px var(--light-gray);
    background-color: var(--white);
    padding-top: 1px;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 12px;
    background-color: var(--purple);
    height: 36px;
    border-radius: 5px;
    color: var(--white);
    font-weight: 300;
}

/* Traffic chart menu style */
.tchart-menu {
    display: flex;
    flex-direction: column;
    .chart-menu {
        display: flex;
    }
    p {
        font-weight: 500;
        font-size: 1rem;
    }
}

.box-hourly,
.box-daily,
.box-weekly,
.box-monthly {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 28px;
    padding: 12px;
    height: 28px;
}

.hourly:checked+.box-hourly,
.daily:checked+.box-daily,
.weekly:checked+.box-weekly,
.monthly:checked+.box-monthly {
    background-color: var(--green);
}

/* Social section style */
.facebook,
.instagram,
.twitter {
    display: flex;
    background-color: var(--light-gray2);
    border-radius: 10px;
    border: solid 1px var(--light-gray);
    color: var(--dark-purple);
    padding: 1rem;
    height: 100px;
    margin: 1rem 0px;
    p {
        color: var(--purple);
        font-weight: 500;
        font-size: 1.2rem;
    }
    h1 {
        color: var(--gray);
        font-weight: 300;
        font-size: 2.5rem;
    }
}

.fb-data,
.insta-data,
.twitter-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    gap: 4px;
}

.svg-container {
    height: 65px;
    width: 65px;
    background-color: var(--purple);
    border-radius: 50%;
    padding: 1rem;
    svg {
        fill: var(--white)
    }
}

/* New members section style */
.new-members .member:nth-child(n+3),
.recent-activity .member:nth-child(n+3) {
    border-top: 1px solid var(--light-gray);
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    img {
        height: 72px;
        width: 72px;
        border-radius: 50%;
    }
    p {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .email {
        color: var(--purple);
    }
    .member-info,
    .member-activity {
        margin-top: 1rem;
    }
}

/* Message user Style */
.message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search,
#user-message {
    background-color: var(--light-gray2);
    border: 2px solid rgb(153, 153, 153, 0.4);
    border-radius: 5px;
    padding: 1rem;
    color: var(--gray);
}

#search::placeholder,
#user-message::placeholder {
    color: var(--light-gray);
}

.btn {
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--purple);
    align-items: center;
    box-shadow: 0px 0px 3px var(--gray), 0 2px var(--light-gray);
    &:hover{
        background-color: var(--purple-opacity);
    }
    &:active {
        background-color: var(--dark-purple);
        box-shadow: 0 1px #666;
        transform: translateY(1px);
    }
}

/* Setting style */
.sett-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-toggle,
.profile-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    p {
        font-weight: 400;
    }
}

/* Switch toogle style
Initial code From Uiverse.io by Muaz-Aldalil  */
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: gray;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid var(--light-gray);
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &::before {
        content: "";
        background-color: white;
        border: 2px solid var(--light-gray);
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        transition: 0.3s;
    }
}

.on-off::before {
    content: "OFF";
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 6px;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

.toggle:checked+.toggle-switch {
    background-color: var(--purple);
    .on-off::before {
        content: "ON";
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        position: absolute;
        top: 6px;
        left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
    }
    &::before {
        content: "";
        left: 48px;
        color: var(--purple);
    }
}

.zone {
    background-color: var(--light-gray2);
    border: 2px solid rgb(153, 153, 153, 0.4);
    border-radius: 5px;
    color: var(--gray);
}

select {
    padding: 12px;
    &:required:invalid {
        color: var(--light-gray);
    }
}

option, select:required:valid {
    color: var(--dark-purple);
    font-weight: 500;;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    .btn {
        flex: 1;

    }
}


@media screen and (min-width: 768px) {

    .main-wrapper{
    grid-template-areas: 
        "header header"
        "nav content"
        ;
    }

    .nav-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        svg {
            height: 36px;
            width: 36px;
        }
    }

    .daily-mobile {
        display: flex;
    }
    .dtchart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid var(--light-gray);
    }
    .dtchart-wrapper,
    .mtchart-wrapper {
        width: 45%;
        flex: 1;
    }
}